common --enable_platform_specific_config
common --enable_bzlmod
common --experimental_isolated_extension_usages
build --tool_java_runtime_version=zulu_jdk_17
build --java_runtime_version=zulu_jdk_17
build --java_language_version=17
build --tool_java_language_version=17


# https://docs.bazel.build/versions/master/remote-caching.html#run-bazel-using-the-remote-cache
